[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
maya = "*"
msgpack = "*"
base58 = "*"
flask_cors = "*"
flask = "*"
nucypher = "==2.1.0b12"
umbral = "==0.1.3a2"
flask-api = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
